/* Variables */
:root {
  --primary-color: hsl(120, 70%, 57%);
  --secondary-color: hsl(90, 70%, 57%);
  --bg-color: hsl(0, 0%, 25%);
  --text-color: hsl(34, 78%, 91%);
  --surface-1: hsl(0, 0%, 10%);
  --surface-2: hsl(0, 0%, 20%);
  --surface-3: hsl(0, 0%, 30%);
  --expander-bg: hsl(0, 0%, 15%);
  --steam-color: hsl(207, 84%, 71%);
  --gog-color: hsl(301, 85%, 76%);
}

/* Universal Styling */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: arial, helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

a,
button {
  background: none;
  color: inherit;
  min-width: 48px;
  min-height: 48px;
}

a,
a:visited {
  text-decoration: none;
  color: var(--primary-color);
  min-width: 24px;
  min-height: 24px;
}

/* TMR Theming */
strong {
  color: var(--primary-color);
}

/* Common Class */
.flex-center {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

/* TMR TitleBar */
title-bar {
  position: sticky;
  top: 0;
  z-index: 3;
}

.title-bar {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--surface-1);
  min-height: 60px;
  align-content: center;
  padding: 0 0.5rem;
}

.brand {
  display: flex;
}

.brand img {
  max-height: 50px;
}

.tmr-text {
  align-self: center;
}

.tmr-text span {
  display: inline-block;
}

.tmr-text span::first-letter {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.drawer i {
  font-size: 2rem;
}

.guide-links {
  display: none;
}

/* TMR SideBar */
side-bar {
  display: grid;
  background-color: var(--surface-2);
  padding: 0.2rem 1rem;
  gap: 1rem;
}

/* TMR Content */
.content {
  padding: 1rem;
}

.section {
  h1 {
    color: var(--primary-color);
  }

  h2,
  h3,
  h4 {
    margin: 1rem 0;
  }
}

blockquote {
  background-color: var(--surface-2);
  padding: 0.2rem 0.4rem;
  border-left: 0.4rem solid var(--primary-color);
  border-radius: 5px;
  margin: 0.2rem 0;
}

code {
  background-color: var(--surface-2);
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  text-wrap: nowrap;
  font-family: monospace;
}

.content ul {
  list-style: disc;
  padding: 0rem 2rem;
  margin: 0.2rem 0;
}

.content ol {
  list-style-type: auto;
  padding: 0rem 2rem;
  margin: 0.2rem 0;
}

/* Expander */
.expander {
  background-color: var(--expander-bg);
  margin: 1rem 0;
}

.colors-steam {
  strong {
    color: var(--steam-color);
  }
}

.colors-gog {
  strong {
    color: var(--gog-color);
  }
}

.expander-title {
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
}

.expander-info {
  padding: 0.1rem 1rem;
}

@media screen and (min-width: 1024px) {

  /* TMR Desktop Layout */
  body {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  title-bar {
    grid-column: span 3;
  }

  /* TMR TitleBar */
  .drawer {
    display: none;
  }

  .guide-links {
    display: flex;
    gap: 1.5rem;
  }
}