@use "sass:math";
@import 'icon.scss';

// Variables: Base
$screen-s: 460px;
$screen-m: 768px;
$screen-l: 1024px;
$col-primary: rgb(0, 242, 60);
$col-links: rgb(139, 201, 255);
$surface-1: rgb(64, 64, 64);
$surface-1-text: rgb(215, 219, 215);
$surface-2: scale-color($surface-1, $lightness: -60%);
$surface-2-text: scale-color($surface-1-text, $lightness: -10%);
$surface-2-text-light: scale-color($surface-2-text, $lightness: 100%);
$surface-2-shadow: 2px 2px 6px hsla(0, 0%, 0%, 0.3);
$surface-3: scale-color($surface-1, $lightness: -25%);
$surface-3-text: scale-color($surface-1-text, $lightness: -30%);
$surface-3-text-light: scale-color($surface-3-text, $lightness: 50%);
$surface-3-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
// Typography
$fs-base: 1rem;
$fs-h1: clamp(2rem, 2vw + 1rem, 3rem);
$fs-h2: calc($fs-h1 * 0.8);
$fs-h3: calc($fs-h1 * 0.6);

// Title Bars
$title-bar-h: 60px;
// Nav Bars
$nav-bar-w: clamp(150px, 40vw, 300px);
$nav-bar-w-screen-m: 200px;

@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin scroll-style($thumb: $surface-2-text, $track: $surface-2) {
	scrollbar-width: thin;
	scrollbar-color: $thumb $track;
	scroll-behavior: smooth;
}

/* -- Base */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-padding-top: calc($title-bar-h + 1rem);
	@include scroll-style();
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	display: grid;

	h1 {
		font-size: $fs-h1;
	}

	h2 {
		font-size: $fs-h2;
	}

	h3 {
		font-size: $fs-h3;
	}

	&::before {
		content: '';
		background: url('../img/Others/Background.webp');
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

a {
	text-decoration: none;
	color: inherit;
}

// -- Index Page
.index-page {
	position: fixed;
	padding-top: calc($title-bar-h + 5rem);
	grid-column: span 3;
	display: flex;
	width: 100%;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	color: scale-color($surface-1-text, $lightness: 50%);
	backdrop-filter: saturate(100%) blur(8px);
	transition: backdrop-filter 333ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

	&:has(a:hover) {
		backdrop-filter: none;
	}

	img {
		position: fixed;
		max-height: 300px;
		z-index: -1;
		margin-bottom: 16rem;
	}

	div {
		display: grid;
		padding: 1rem;

		h1 {
			text-align: center;
			text-shadow: 1px 3px 3px black;
		}

		a {
			margin: auto;
			font-size: 1.5rem;
		}
	}
}

.btn-primary {
	background-color: $col-primary;
	color: $surface-1;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 1px 1px 10px black;

	&:hover {
		background-color: scale-color($col-primary, $lightness: 10%);
		box-shadow: 1px 1px 10px scale-color($col-primary, $lightness: 25%);
	}
}

// -- Title Bars
.title-bar {
	grid-column: span 3;
	position: sticky;
	top: 0;
	height: $title-bar-h;
	padding: 0 1rem;
	background: $surface-2;
	color: $surface-2-text;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	justify-content: space-around;
	z-index: 3;

	&.transparent {
		background: none;
	}

	&.transparent .ls-toggle {
		display: none;
	}

	a:hover,
	i:hover {
		color: $surface-2-text-light;
	}
}

.ls-toggle {
	input {
		display: none;

		&:checked+span {
			color: $surface-2-text-light;
			text-shadow: $surface-2-text-light 0 0 0.3rem;
		}
	}

	span {
		cursor: pointer;
		user-select: none;
		font-size: 2.5rem;
		transition: all 200ms ease-in-out;
	}

	@media (min-width: $screen-m) {
		display: none;
	}
}

.title-logo {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin: auto;

	img {
		max-width: 40px;
	}

	a {
		font-size: 1.4rem;
	}
}

.nav-links {
	display: none;

	@media (min-width: $screen-m) {
		display: flex;
		margin-left: auto;
		gap: 1rem;
	}
}

// -- Nav Bars
@mixin nav-bar-base {
	width: $nav-bar-w;
	transition: width 200ms ease-in-out;
	background-color: $surface-3;
	color: $surface-3-text;
	box-shadow: $surface-3-shadow;
	z-index: 2;

	&[expand=false] {
		width: 0;
	}

	@media (min-width: $screen-m) {
		width: $nav-bar-w-screen-m;

		&[expand=false] {
			width: $nav-bar-w-screen-m;
		}
	}

	ul,
	li {
		@include reset-list();
	}

	nav {
		position: sticky;
		top: $title-bar-h;
		height: calc(100vh - $title-bar-h);
		overflow-y: scroll;
		@include scroll-style();
	}
}

// -- Left Side Bar
.ls-bar {
	@include nav-bar-base();
	position: fixed;
	top: $title-bar-h;

	@media (min-width: $screen-m) {
		position: static;
		justify-self: end;
	}

	ul {
		padding: 0.5rem 0;
	}

	.li-item {
		.active {
			color: $surface-3-text-light;
		}

		a {
			display: flex;
			min-height: 24px;
			padding: 0.5rem 1rem;

			&:hover {
				color: $surface-3-text-light;
				text-shadow: $surface-3-text-light 0 0 3px;
			}

		}

		strong {
			display: block;
			text-align: center;
			padding-bottom: 0.5rem;
			text-shadow: black 0px 1px 5px;

			&:active {
				color: scale-color($surface-3-text, $lightness: 50%);
			}
		}
	}

	hr {
		margin: 0;
	}
}

.tmre-list {
	background: linear-gradient(scale-color($surface-3, $lightness: 10%), $surface-3);
}

html[tmre="true"] {
	.tmre-list {
		background: linear-gradient(scale-color($surface-3, $lightness: 20%), $surface-3);
	}
}

.li-item-custom {
	a {
		display: grid;
		grid-template-columns: 2rem 1fr;
		align-items: center;
		min-height: 24px;
		padding: 0.5rem 1rem;
	}

	span {
		font-size: 1.5em;
	}
}

@mixin li-item-brand($b-col, $b-col-active) {
	color: $surface-1-text;
	background-color: $b-col;

	&:hover {
		background-color: $b-col-active;
		text-shadow: 0 0 3px $surface-1-text
	}
}

.discord {
	@include li-item-brand(rgba(88, 101, 242, 0.5), rgba(88, 101, 242, 1))
}

.paypal {
	@include li-item-brand(rgba(0, 69, 124, 0.5), rgb(0, 69, 124));
}

.github {
	@include li-item-brand(rgba(36, 41, 47, 0.5), rgb(36, 41, 47));
}

// -- Right Side Bar
.rs-bar {
	display: none;
	@include nav-bar-base();
	font-size: 0.9rem;

	@media (min-width: $screen-l) {
		display: block;
	}

	ul {
		padding: 0.5rem 0;
	}

	.li-item {
		padding: 0 1rem;

		&.h3 {
			padding: 0 1.5rem;
			font-size: 0.8rem;
		}
	}

	a {
		display: flex;
		padding: 0.2rem 0;

		&:hover {
			color: $surface-3-text-light;
		}
	}
}

// -- Main Content
.content {
	grid-column: 2;
	width: 100%;
	background-color: $surface-1;
	color: $surface-1-text;
	padding: 1rem;
	line-height: 1.5rem;

	.section {
		max-width: 75ch;
		margin: auto;

		>section {
			border-top: 1px solid $surface-1-text;
		}
	}

	h1 {
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	h2 {
		margin-bottom: 0.5rem;
		line-height: calc($fs-h2 + 0.5rem);
	}

	a {
		color: $col-links;
	}

	.local-link a {
		color: scale-color($col-primary, $saturation: -30%);

		&:hover {
			color: $col-primary;
		}

		&::before {
			content: '🔗 ';
			font-size: 0.8em;
		}
	}

	blockquote {
		$img-size: 6rem;
		margin: 1rem 0;
		padding: 0.5rem;
		background-color: $surface-3;
		border-left: 0.5rem solid $col-primary;
		border-radius: 5px;
		box-shadow: $surface-2-shadow;

		&.with-image {
			min-height: $img-size;

			img {
				float: left;
				max-width: $img-size;
				margin-right: 0.5rem;
			}
		}
	}

	code {
		background-color: $surface-3;
		border-radius: 3px;
		padding: 0.2rem 0.4rem;
	}

	img {
		border-radius: 0.5rem;
	}
}

arrow-nav {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid $surface-1-text;
	padding-top: 2rem;

	a {
		font-size: 1.5rem;
		display: flex;
		gap: 0.5rem;
		color: $surface-1-text !important;
		transition: scale 100ms ease-in-out;
		padding: 0.5rem 1rem;
		width: fit-content;

		&:hover {
			scale: 120%;
		}
	}
}