* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}


a,
button {
  background: none;
  color: inherit;
  min-width: 48px;
  min-height: 48px;
}

a,
a:visited {
  text-decoration: none;
  min-width: 24px;
  min-height: 24px;
}